<div class="pt-3">
  <div class="card"
       *ngIf="!showPrompt">
    <div class="card-body">
      <div class="p-2 d-flex justify-content-evenly">
        <button class="btn btn-primary"
                type="button"
                (click)="previousWeek()">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="16"
               height="16"
               fill="currentColor"
               class="bi bi-caret-left"
               viewBox="0 0 16 16">
            <path
                  d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
          </svg>
        </button>
        <div class="">
          <h5 class="card-title d-flex justify-content-center">Available dates</h5>
          <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Please, select one of the available
            dates/times</h6>
        </div>
        <button class="btn btn-primary"
                type="button"
                (click)="nextWeek()">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="16"
               height="16"
               fill="currentColor"
               class="bi bi-caret-right"
               viewBox="0 0 16 16">
            <path
                  d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
          </svg>
        </button>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngFor="let weekDays of weekGrid[weekGridIt]"
                scope="col">
              <p>{{getDayName(weekDays)}}</p>
              <small>{{weekDays.toLocaleDateString()}}</small>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeSlot of timeSlots">
            <th *ngFor="let week of weekGrid[weekGridIt]"
                scope="row">
              <button class="btn btn-secondary"
                      (click)="book(week, timeSlot)"
                      [disabled]="timeSlot.disabled">{{timeSlot.from}} - {{timeSlot.to}}</button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="showPrompt"
     class="d-flex justify-content-center pt-4">
  <div class="card p-4">
    <h1>Booking</h1>
    <small class="text-muted">Please, provide your license plate to create the appointment</small>
    <p>Booking time: {{getRangeDisplay()}}</p>
    <form [formGroup]="registrationForm"
          (ngSubmit)="getAvailableDates()">
      <div class="mb-3">
        <label for="id"
               class="form-label">
          License Plate
        </label>
        <input id="id"
               class="form-control"
               type="text"
               formControlName="id">
      </div>
      <div class="card-body d-flex justify-content-evenly">
        <button class="btn btn-default"
                type="button"
                (click)="cancel()">Cancel</button>
        <button class="btn btn-primary"
                [disabled]="registrationForm.invalid"
                type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="showPrompt"
     [class.show]="message != undefined && message != ''"
     class="mt-5 alert alert-{{messageType}} alert-dismissible fade"
     role="alert">
  {{message}}
  <button type="button"
          class="btn-close"
          (click)="message = ''"
          aria-label="Close"></button>
</div>
