<div class="pt-3">
  <div class="card"
       *ngIf="!showPrompt">
    <div class="card-body">
      <h5 class="card-title">Available dates</h5>
      <h6 class="card-subtitle mb-2 text-muted">Please, select one of the available dates/times</h6>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngFor="let weekDays of weekGrid[weekGridIt]"
                scope="col">
              <p>{{getDayName(weekDays)}}</p>
              <small>{{weekDays.toLocaleDateString()}}</small>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeSlot of timeSlots">
            <th *ngFor="let week of weekGrid[weekGridIt]"
                scope="row">
              <button class="btn btn-secondary"
                      (click)="book(week, timeSlot)"
                      [disabled]="timeSlot.disabled">{{timeSlot.from}} - {{timeSlot.to}}</button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="showPrompt"
     class="d-flex justify-content-center pt-4">
  <div class="card p-4">
    <h1>Booking</h1>
    <small class="text-muted">Please, provide your license plate to create the appointment</small>
    <p>Booking time: {{getRangeDisplay()}}</p>
    <form [formGroup]="registrationForm"
          (ngSubmit)="getAvailableDates()">
      <div class="mb-3">
        <label for="id"
               class="form-label">
          License Plate
        </label>
        <input id="id"
               class="form-control"
               type="text"
               formControlName="id">
      </div>
      <div class="card-body d-flex justify-content-evenly">
        <button class="btn btn-default"
                type="button"
                (click)="cancel()">Cancel</button>
        <button class="btn btn-primary"
                [disabled]="registrationForm.invalid"
                type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="showPrompt"
     [class.show]="message != undefined && message != ''"
     class="mt-5 alert alert-{{messageType}} alert-dismissible fade"
     role="alert">
  {{message}}
  <button type="button"
          class="btn-close"
          (click)="message = ''"
          aria-label="Close"></button>
</div>
