<div class="d-flex justify-content-center pt-4">
  <div class="card p-4">
    <h1>Booking</h1>
    <small class="text-muted">Please, provide your license plate to book an appointment</small>
    <form [formGroup]="registrationForm"
          (ngSubmit)="getAvailableDates()">
      <div class="mb-3">
        <label for="id"
               class="form-label">
          License Plate
        </label>
        <input id="id"
               class="form-control"
               type="text"
               formControlName="id">
      </div>
      <div class="card-body d-flex justify-content-evenly">
        <button class="btn btn-default"
                type="button"
                [routerLink]="['/dashboard']">Cancel</button>
        <button class="btn btn-primary"
                [disabled]="registrationForm.invalid"
                type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<div [class.show]="message != undefined && message != ''"
     class="mt-5 alert alert-{{messageType}} alert-dismissible fade"
     role="alert">
  {{message}}
  <button type="button"
          class="btn-close"
          (click)="message = ''"
          aria-label="Close"></button>
</div>
<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let weekDays of weekGrid[weekGridIt]"
              scope="col">
            <p>{{getDayName(weekDays)}}</p>
            <small>{{weekDays.toLocaleDateString()}}</small>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeSlot of timeSlots">
          <th *ngFor="let week of weekGrid[weekGridIt]"
              scope="row">{{timeSlot.from}} - {{timeSlot.to}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
